<template>
    <v-container fluid fill-height class="home-hero" style="max-height: 100vh;">
        <v-layout justify-center align-center column pa-5>
            <div class="display-4 font-weight-black white--text text-xs-center">
                PER ASPERA
            </div>
            <div
                class="display-4 font-weight-black white--text text-xs-center mb-3"
            >
                AD ASTRA
            </div>
            <div class="display-1 font-weight-bold white--text text-xs-center">
                Невероятно умная и проникновенная цитата с берегов города Новосибиркса.
            </div>
            <v-btn fab class="mt-5 brown darken-4">
                <v-icon large color="white">expand_more</v-icon>
            </v-btn>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'HomeHero'
};
</script>

<style scoped>
.home-hero {
    background: url('https://sun9-59.userapi.com/c858336/v858336844/badd5/e7jD_8mdRkI.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}
</style>
